---
identifier: "GHSA-7jr6-prv4-5wf5"
identifiers:
- "GHSA-7jr6-prv4-5wf5"
package_slug: "go/helm.sh/helm/v3"
title: "Duplicate"
description: "This advisory duplicates another."
date: "2026-01-26"
pubdate: "2021-06-23"
affected_range: "<0"
fixed_versions: []
affected_versions: "None"
not_impacted: "N/A"
solution: "N/A"
urls:
- "https://github.com/advisories/GHSA-7jr6-prv4-5wf5"
- "https://github.com/helm/helm/security/advisories/GHSA-56hp-xqp3-w2jf"
- "https://nvd.nist.gov/vuln/detail/CVE-2021-32690"
- "https://github.com/helm/helm/commit/61d8e8c4a6f95540c15c6a65f36a6dd0a45e7a2f"
- "https://github.com/advisories/GHSA-56hp-xqp3-w2jf"
- "https://github.com/helm/helm"
- "https://github.com/helm/helm/releases/tag/v3.6.1"
- "https://pkg.go.dev/vuln/GO-2022-0384"
cvss_v3: "CVSS:3.1/AV:N/AC:H/PR:N/UI:N/S:C/C:H/I:N/A:N"
uuid: "642dac5a-9c2a-4b30-9146-84b82cc6499e"
cwe_ids:
- "CWE-200"
- "CWE-937"
- "CWE-1035"
