---
identifier: "CVE-2020-1733"
package_slug: "pypi/ansible"
title: "Exposure of Resource to Wrong Sphere"
description: "A race condition flaw was found in Ansible Engine when running a playbook
  with an unprivileged become user. When Ansible needs to run a module with become
  user, the temporary directory is created in `/var/tmp`. This directory is created
  with `umask && mkdir -p <dir>`; this operation does not fail if the directory already
  exists and is owned by another user. An attacker could take advantage to gain control
  of the become user as the target directory can be retrieved by iterating `/proc/<pid>/cmdline`."
date: "2021-08-07"
pubdate: "2020-03-11"
affected_range: "<=2.7.16||>=2.8.0,<2.8.8||>=2.9.0,<=2.9.5"
fixed_versions:
- "2.7.17"
- "2.8.8"
- "2.9.6"
affected_versions: "All versions up to 2.7.16, all versions starting from 2.8.0 before
  2.8.8, all versions starting from 2.9.0 up to 2.9.5"
not_impacted: "All versions after 2.7.16 before 2.8.0, all versions starting from
  2.8.8 before 2.9.0, all versions after 2.9.5"
solution: "Upgrade to versions 2.7.17, 2.8.8, 2.9.6 or above."
urls:
- "https://nvd.nist.gov/vuln/detail/CVE-2020-1733"
- "https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2020-1733"
cvss_v2: "AV:L/AC:H/Au:N/C:P/I:P/A:P"
cvss_v3: "CVSS:3.1/AV:L/AC:H/PR:L/UI:R/S:C/C:L/I:L/A:L"
uuid: "32501cab-be64-452f-a297-fa90e9fb0eb0"
cwe_ids:
- "CWE-1035"
- "CWE-668"
- "CWE-937"
identifiers:
- "CVE-2020-1733"
